In [1]:
import certifi
ca = certifi.where()

from pymongo.mongo_client import MongoClient
from pprint import pprint

uri = "mongodb+srv://rossalbritten:SrBFbFN4ghWYGVQ1@cloudcomputingbbk.kosa4kb.mongodb.net/?retryWrites=true&w=majority"
# Create a new client and connect to the server
conn = MongoClient(uri, tlsCAFile=ca)

In [2]:
col_films = conn.MiniFilmsApp.films

In [3]:
pprint(col_films.find_one({"film_name": "Umbrella"}))

##for document in col_films.find():
    ##print (document)

{'_id': ObjectId('65296daf5be4def003b61203'),
 'film_link': 'https://film.com',
 'film_name': 'Umbrella',
 'film_type': 'Animated short film',
 'film_year': '2021'}

In [4]:
col_users = conn.MiniFilmsApp.users

In [5]:
user1 = {
		"user_name":"Tom Jones",
		"user_age":44,
		"user_location":"London"
		}

col_users.insert_one(user1)
print("Record added :)")

Record added :)

In [6]:
pprint(col_users.find_one({'user_age': 44}))

{'_id': ObjectId('652c2ec6703b49c78a995b04'),
 'user_age': 44,
 'user_location': 'London',
 'user_name': 'Tom Jones'}

In [7]:
user2 = {
		"user_name":"Jane Williams",
		"user_age":50,
		"user_location":"London"
		}

user3 = {
		"user_name":"Kate Johnson",
		"user_age":35,
		"user_location":"Brighton"
		}

col_users.insert_many([user2, user3])

In [8]:
pprint(col_users.find_one())

{'_id': ObjectId('652c2ec6703b49c78a995b04'),
 'user_age': 44,
 'user_location': 'London',
 'user_name': 'Tom Jones'}

In [9]:
col_users.find_one({},{"user_name": 1, "user_location":1})

{'_id': ObjectId('652c2ec6703b49c78a995b04'),
 'user_name': 'Tom Jones',
 'user_location': 'London'}

In [10]:
for record in col_users.find():
  print(record)

{'_id': ObjectId('652c2ec6703b49c78a995b04'), 'user_name': 'Tom Jones', 'user_age': 44, 'user_location': 'London'}
{'_id': ObjectId('652c2f0f703b49c78a995b05'), 'user_name': 'Jane Williams', 'user_age': 50, 'user_location': 'London'}
{'_id': ObjectId('652c2f0f703b49c78a995b06'), 'user_name': 'Kate Johnson', 'user_age': 35, 'user_location': 'Brighton'}

In [11]:
results = col_users.find().sort("user_age", -1)
for user in results:
  print(user)

{'_id': ObjectId('652c2f0f703b49c78a995b05'), 'user_name': 'Jane Williams', 'user_age': 50, 'user_location': 'London'}
{'_id': ObjectId('652c2ec6703b49c78a995b04'), 'user_name': 'Tom Jones', 'user_age': 44, 'user_location': 'London'}
{'_id': ObjectId('652c2f0f703b49c78a995b06'), 'user_name': 'Kate Johnson', 'user_age': 35, 'user_location': 'Brighton'}

In [12]:
doc = col_users.find().sort("user_age", -1).limit(1)

print(doc[0])

{'_id': ObjectId('652c2f0f703b49c78a995b05'), 'user_name': 'Jane Williams', 'user_age': 50, 'user_location': 'London'}

In [13]:
results = col_users.find({"user_age": {"$gt":45}},{})
for user in results:
  print(user)

{'_id': ObjectId('652c2f0f703b49c78a995b05'), 'user_name': 'Jane Williams', 'user_age': 50, 'user_location': 'London'}

In [14]:
results = col_users.find({"user_age": {"$gt":45}},{"_id": 0, "user_name": 1, "user_age": 1, "user_location":1})
for user in results:
  print(user)

{'user_name': 'Jane Williams', 'user_age': 50, 'user_location': 'London'}

In [15]:
res = col_users.find({"user_location": {"$eq":"London"}},{"_id": 0,"user_name": 1, "user_location":1})
for record in res:
  print(record)

{'user_name': 'Tom Jones', 'user_location': 'London'}
{'user_name': 'Jane Williams', 'user_location': 'London'}

In [17]:
agg_result = col_users.aggregate(
    [{
    "$group" : 
        {"_id" : "$user_location", 
         "num_instances" : {"$sum" : 1}
         }}
    ])

for record in agg_result:
  print(record)

{'_id': 'Brighton', 'num_instances': 1}
{'_id': 'London', 'num_instances': 2}

In [18]:
import pymongo
pipeline = [
{
	      "$match": {
	         "user_location": "London"
	      }
	   },
	   {
	      "$sort": {
	         "user_age": pymongo.ASCENDING
	      }
	   },
	]
results = col_users.aggregate(pipeline)

for record in results:
  print(record)

{'_id': ObjectId('652c2ec6703b49c78a995b04'), 'user_name': 'Tom Jones', 'user_age': 44, 'user_location': 'London'}
{'_id': ObjectId('652c2f0f703b49c78a995b05'), 'user_name': 'Jane Williams', 'user_age': 50, 'user_location': 'London'}

In [19]:
stage_match_location = {
	   "$match": {
	         "user_location": "London"
	   }
	}

stage_sort_age_descending = {
	   "$sort": { "user_age": pymongo.DESCENDING }
	}

stage_limit_1 = { "$limit": 1 }
	
pipeline = [
	   stage_match_location,
	   stage_sort_age_descending,
	   stage_limit_1,
	]

results = col_users.aggregate(pipeline)

for record in results:
  print(record)

{'_id': ObjectId('652c2f0f703b49c78a995b05'), 'user_name': 'Jane Williams', 'user_age': 50, 'user_location': 'London'}

In [20]:
user4 = {
		"user_name":"Dan Berry",
		"user_age":64,
		"user_location":"London"
		}

col_users.insert_one(user4)

In [21]:
res = col_users.find_one({"user_name": {"$eq":"Dan Berry"}})
print(res)

{'_id': ObjectId('652c315f703b49c78a995b07'), 'user_name': 'Dan Berry', 'user_age': 64, 'user_location': 'London'}

In [22]:
from bson.objectid import ObjectId

# The _id of Dan to use it as a reference'

user_id = res["_id"]

film1 = {
		"film_name=":"WinDUP",
		"film_type":"Animated Short Film",
		"film_year":"2021",
    "film_link":"https://youtu.be/efGqe1j3RNk",
    "film_user_id":ObjectId(user_id)
		}

conn.MiniFilmsApp.films.insert_one(film1)

In [23]:
#lookup usage
res = col_users.aggregate([
                {
                    "$lookup":
                    {
                        "from": "films",
                        "localField": "_id",
                        "foreignField": "film_user_id",
                        "as": "FILMS"
                    }
                }
            ])

for i in res:
  # Print only the records that match (users with associated films)
  if len(i['FILMS'])!=0:
    pprint(i)

{'FILMS': [{'_id': ObjectId('652c31d2703b49c78a995b08'),
            'film_link': 'https://youtu.be/efGqe1j3RNk',
            'film_name=': 'WinDUP',
            'film_type': 'Animated Short Film',
            'film_user_id': ObjectId('652c315f703b49c78a995b07'),
            'film_year': '2021'}],
 '_id': ObjectId('652c315f703b49c78a995b07'),
 'user_age': 64,
 'user_location': 'London',
 'user_name': 'Dan Berry'}

In [24]:
from bson.objectid import ObjectId
film2 = {
		"film_name=":"Here's the Plan",
		"film_type":"Animated Short Film",
		"film_year":"2017",
    "film_link":"https://youtu.be/5Zqmt1H35fs",
    "film_user_id":ObjectId(user_id)
		}
conn.MiniFilms.films.insert_one(film2)

In [25]:
p1 ={
    "$lookup":
    {
      "from": "films",
      "localField": "_id",
      "foreignField": "film_user_id",
      "as": "DATA"
      }
    }

p2={"$match": {
	         "user_location": {"$eq":"London"}
	      }
}

p3={"$match": {
	         "user_age": {"$gt":40}
	      }
}

pipeline = [
            p1,
            p2,
            p3
]
results = col_users.aggregate(pipeline)

print("User data:")
for record in results:
  print(record)

User data:
{'_id': ObjectId('652c2ec6703b49c78a995b04'), 'user_name': 'Tom Jones', 'user_age': 44, 'user_location': 'London', 'DATA': []}
{'_id': ObjectId('652c2f0f703b49c78a995b05'), 'user_name': 'Jane Williams', 'user_age': 50, 'user_location': 'London', 'DATA': []}
{'_id': ObjectId('652c315f703b49c78a995b07'), 'user_name': 'Dan Berry', 'user_age': 64, 'user_location': 'London', 'DATA': [{'_id': ObjectId('652c31d2703b49c78a995b08'), 'film_name=': 'WinDUP', 'film_type': 'Animated Short Film', 'film_year': '2021', 'film_link': 'https://youtu.be/efGqe1j3RNk', 'film_user_id': ObjectId('652c315f703b49c78a995b07')}]}

In [26]:
myquery = { "user_name": "Dan Berry" }
newvalues = { "$set": { "user_location": "Bournemouth" } }

res = col_users.find({"user_name": "Dan Berry" },{"user_name": 1, "user_location":1})
for i in res:
  print(i)

x = col_users.update_many(myquery, newvalues) # or update_one

res = col_users.find({"user_name": "Dan Berry" },{"user_name": 1, "user_location":1})
for i in res:
  print(i)

print(x.modified_count, "documents updated.")

{'_id': ObjectId('652c315f703b49c78a995b07'), 'user_name': 'Dan Berry', 'user_location': 'London'}
{'_id': ObjectId('652c315f703b49c78a995b07'), 'user_name': 'Dan Berry', 'user_location': 'Bournemouth'}
1 documents updated.

In [27]:
myquery = { "user_location": { "$regex": "^Bourne" } }
results = col_users.find(myquery)
for user in results:
  print(user)

{'_id': ObjectId('652c315f703b49c78a995b07'), 'user_name': 'Dan Berry', 'user_age': 64, 'user_location': 'Bournemouth'}

In [28]:
myquery = { "user_name": "Dan Berry"}

x = col_users.delete_many(myquery)

In [29]:
res = col_users.find()
for i in res:
  print(i)

{'_id': ObjectId('652c2ec6703b49c78a995b04'), 'user_name': 'Tom Jones', 'user_age': 44, 'user_location': 'London'}
{'_id': ObjectId('652c2f0f703b49c78a995b05'), 'user_name': 'Jane Williams', 'user_age': 50, 'user_location': 'London'}
{'_id': ObjectId('652c2f0f703b49c78a995b06'), 'user_name': 'Kate Johnson', 'user_age': 35, 'user_location': 'Brighton'}